---
const { href } = Astro.props as Props;
export type Props = { href: string };
---

<a href={href} class="text-xl hover:text-blue-900 hover:underline duration-300" target="_blank">
    <slot />
</a>
