---
import Section from '@components/shared/Section.astro';
import { Language } from '@schemas/Resume';

export type Props = { languages: Language[] };
const { languages } = Astro.props as Props;

function compareLevel(a: Language, b: Language) {
    const asNumber = {
        A: 4,
        B: 3,
        C: 2,
        native: 1
    };

    return asNumber[a.fluency] - asNumber[b.fluency];
}

const normalisedLanguages = [...languages].sort(compareLevel);
---

<Section>
    <ul class="flex flex-row gap-6 text-white font-bold text-2xl">
        {
            normalisedLanguages.map(({ language, fluency }) => (
                <li class="bg-blue-950 p-2">
                    <span class="text-yellow-300">{language}</span> {fluency}
                </li>
            ))
        }
    </ul>
</Section>
