---
import Header from '@components/resume/Header.astro';
import Languages from '@components/resume/Languages.astro';
import Skills from '@components/resume/Skills.astro';
import Work from '@components/resume/Work.astro';
import Button from '@components/shared/Button.astro';
import List from '@components/shared/List.astro';
import InlineList from '@components/shared/InlineList.astro';
import Link from '@components/shared/Link.astro';
import Section from '@components/shared/Section.astro';
import SubSection from '@components/shared/SubSection.astro';
import type { Resume } from '@schemas/Resume';

export type Props = Resume;
const {
    basics: { summary, ...basics },
    certificates,
    education,
    languages,
    projects,
    skills,
    work
} = Astro.props as Props;

const summaries = Array.isArray(summary) ? summary : [summary];
---

<header>
    <Header {...basics} />
</header>

<main class="flex flex-col w-full items-center justify-center gap-16 mb-16 p-4">
    {languages && <Languages languages={languages} />}

    <Section headline="I love creating!">
        <p class="text-xl">
            I love creating web applications that are not only functional but also visually appealing. My passion drives me to keep working
            on my skills to produce the bests product for any given situation and I love figuring out the intrecacies of new technology to
            make not only my work but also the work of those around me easier and more efficient. Sharing my experience and benefitting from
            the experience of others is what I love most about working in a development team. I am always looking for new challenges and
            opportunities to grow as a developer.
        </p>
    </Section>

    <Section headline="Hey!">
        <p class="text-xl">
            I'm René, a passionate Full-Stack Web Developer with a knack for creating dynamic and user-friendly web applications. My time as
            a freelancer as an audiodesigner gives me unique insights on how best to tailor to customers and my passion in development
            pushes me further on my journey to be the developer I want to be. My strengths lie particularly in TypeScript and React.js for
            the frontend as well as Express.js and .NET for backend solutions. I always enjoy to engage with the full breadth of web
            development and strive to understand not only one but all aspects of an application in its fullest.
        </p>
        <p class="text-xl">
            Beyond coding, I enjoy creative challenges that push me to think outside the box and hone my attention to detail. I love to
            learn and grow and as such I am always on the lookout for new things to improve my understanding of this fast moving, exciting
            world of development.
        </p>
    </Section>

    <Section headline="My Principles">
        <List>
            <li>Communicate respectfully and transparently</li>
            <li>Have a requirements focused architectural and development process</li>
            <li>
                Achieve good and maintainable code, based on the architecture, automated testing and the concept of polite code (
                <Link href="https://youtu.be/7EmboKQH8lM?t=3160">https://youtu.be/7EmboKQH8lM?t=3160</Link> )
            </li>
            <li>Be open to new ideas and approaches</li>
            <li>Share knowledge within your team and beyond</li>
        </List>
    </Section>

    {skills && <Skills skills={skills} />}

    <Section>{work?.map((work) => <Work {...work} />)}</Section>

    <!-- PROJECTS -->
    <Section>
        <SubSection>
            <header>
                <h3>
                    <ul class="flex flex-row gap-2 text-white font-semibold text-2xl">
                        <li class="bg-blue-950 p-2">Proj</li>
                        <li class="bg-blue-950 p-2">
                            <span class="text-yellow-300"><a href="https://musikleben.live">musikleben.live</a></span>
                        </li>
                    </ul>
                </h3>
                <p class="text-lg"><i>December 2024 to Present</i></p>
            </header>

            <main class="flex flex-col gap-6">
                <p class="text-xl">
                    Your music, your events, Live in Lu. Conceptualizing, development and deployment of a web solution for a local
                    non-profit event organizer as the final project for the web development bootcamp @ WBS CODING SCHOOL.
                </p>
                <List headline="Highlights">
                    <li>Conceptualizing the design in Figma creating a reusable design system</li>
                    <li>Creating a fully responsive web application using React.js and Tailwind CSS</li>
                    <li>Using Express.js & PostgreSQL for the backend REST-API</li>
                    <li>Hosting the application on a Windows Server using IIS</li>
                    <li>Live support for the project and its customer</li>
                </List>
            </main>

            <footer class="flex flex-col gap-6">
                <InlineList title="Skills:">
                    <li>TypeScript & JavaScript</li>
                    <li>React.js</li>
                    <li>Tailwind CSS</li>
                    <li>Figma</li>
                    <li>REST-API</li>
                    <li>Express.js</li>
                    <li>PostgreSQL</li>
                    <li>Node.js</li>
                    <li>Internet Information Services (IIS) Hosting</li>
                </InlineList>

                <Button href="https://musikleben.live" text="→ Project" />
            </footer>
        </SubSection>

        <SubSection>
            <header>
                <h3>
                    <ul class="flex flex-row gap-2 text-white font-semibold text-2xl">
                        <li class="bg-blue-950 p-2">Proj</li>
                        <li class="bg-blue-950 p-2"><span class="text-yellow-300">Resume</span></li>
                    </ul>
                </h3>
                <p class="text-lg"><i>April 2024</i></p>
            </header>

            <main class="flex flex-col gap-6">
                <p class="text-xl">
                    Delivering my resume build with new web technologies, giving me an opportuntity to learn and showcase skills, thought
                    and work processes.
                </p>

                <List headline="Highlights">
                    <li>
                        Getting to know ( <Link href="https://astro.build/">https://astro.build/</Link> )
                    </li>
                    <li>Using GitHub Pages to host the project</li>
                    <li>Using Figma for design</li>
                </List>
            </main>

            <footer class="flex flex-col gap-6">
                <InlineList title="Skills:">
                    <li>Astro.js</li>
                    <li>Tailwind CSS</li>
                    <li>HTML5</li>
                    <li>GitHub Pages</li>
                </InlineList>

                <Button href="https://github.com/reneSpeaks/Resume" text="→ Project" />
            </footer>
        </SubSection>
    </Section>

    <!-- EDUCATION & CERTIFICATES -->
    <Section>
        <SubSection>
            <header>
                <h3>
                    <ul class="flex flex-row gap-2 text-white font-semibold text-2xl">
                        <li class="bg-blue-950 p-2">Edu</li>
                        <li class="bg-blue-950 p-2">
                            <span class="text-yellow-300">Full-Stack Web & App Development</span>
                        </li>
                    </ul>
                </h3>
                <p class="text-lg"><i>September 2024 to January 2025</i> @ WBS CODING SCHOOL</p>
            </header>

            <main class="flex flex-col gap-6">
                <p class="text-xl">
                    I turned my ambition into skills, using WBS COODING SCHOOL as a stepping stone to change my career. In 17 Weeks (680
                    Hours), I gained a fundamental understanding of Web & App Development at the bootcamp. Their instructors led me through
                    a cutting-edge curriculum and taught not only the skills I need to succeed but also the principles a developer should
                    follow to survive in the fast-paced world of development.
                </p>
            </main>

            <footer class="flex flex-col gap-6">
                <InlineList title="Skills:">
                    <li>Web Development</li>
                    <li>React.js</li>
                    <li>Node.js</li>
                    <li>Express.js</li>
                    <li>JavaScript</li>
                    <li>MongoDB</li>
                    <li>PostgreSQL</li>
                    <li>REST-API</li>
                    <li>Vite</li>
                    <li>Parcel</li>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>Tailwind CSS</li>
                    <li>Git</li>
                    <li>GitHub</li>
                    <li>UX/UI Fundamentals</li>
                    <li>SEO</li>
                    <li>Figma</li>
                    <li>Trello</li>
                    <li>Agile Software Development</li>
                    <li>Functional Programming</li>
                </InlineList>

                <Button href="https://musikleben.live/documents/certificate_Rene_Weiberlenn.pdf" text="→ Credential" />
            </footer>
        </SubSection>

        <SubSection>
            <header>
                <h3>
                    <ul class="flex flex-row gap-2 text-white font-semibold text-2xl">
                        <li class="bg-blue-950 p-2">Edu</li>
                        <li class="bg-blue-950 p-2">
                            <span class="text-yellow-300">IT Betriebswirt (IU)</span>
                        </li>
                    </ul>
                </h3>
                <p class="text-lg"><i>October 2022 to January 2024</i> @ IU International Hochschule Berlin</p>
            </header>

            <main class="flex flex-col gap-6">
                <p class="text-xl">
                    In an effort to deepen my understanding of business processes and their relation to IT, I enrolled in the IT
                    Betribeswirt (IU) programm at IU Inernational University Berlin. This program is designed to provide a comprehensive
                    understanding of the intersection between IT and business, equipping me with the skills needed to excel in this dynamic
                    field. The curriculum covers a wide range of topics, including project management, business informatics, and agile
                    software development.
                </p>
            </main>

            <footer class="flex flex-col gap-6">
                <InlineList title="Skills:">
                    <li>Business Informatics</li>
                    <li>Business Processes</li>
                    <li>Project Management</li>
                    <li>Agile Software Development</li>
                    <li>Business Administration</li>
                    <li>Accounting</li>
                    <li>Financials</li>
                </InlineList>
            </footer>
        </SubSection>

        <SubSection>
            <header>
                <h3>
                    <ul class="flex flex-row gap-2 text-white font-semibold text-2xl">
                        <li class="bg-blue-950 p-2">Edu</li>
                        <li class="bg-blue-950 p-2">
                            <span class="text-yellow-300">IT-System-Kaufmann (IHK)</span>
                        </li>
                    </ul>
                </h3>
                <p class="text-lg"><i>September 2004 to January 2008</i> @ bbw Akademie Karlshorst</p>
            </header>

            <main class="flex flex-col gap-6">
                <p class="text-xl">
                    I completed my apprenticeship as an IT-System-Kaufmann at the bbw Akademie Karlshorst. I learned the basics of IT and
                    business processes, which gave me a solid foundation for my career. I learned how to work with customers and how to
                    understand their needs and requirements.
                </p>
            </main>

            <footer class="flex flex-col gap-6">
                <InlineList title="Skills:">
                    <li>Object Oriented Programming</li>
                    <li>C</li>
                    <li>C++</li>
                    <li>MySQL</li>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>Functional Programming</li>
                    <li>Bookkeeping</li>
                    <li>Financials</li>
                    <li>Business Administration</li>
                    <li>Accounting</li>
                    <li>Business Processes</li>
                    <li>Project Management</li>
                    <li>Customer Management</li>
                    <li>Business English</li>
                </InlineList>

                <Button href="https://musikleben.live/documents/documents_Rene_Weiberlenn.pdf" text="→ Documents" />
            </footer>
        </SubSection>

        <SubSection>
            <header>
                <h3>
                    <ul class="flex flex-row gap-2 text-white font-semibold text-2xl">
                        <li class="bg-blue-950 p-2">Cer</li>
                        <li class="bg-blue-950 p-2">
                            <span class="text-yellow-300">Battle of the Bootcamps 2024</span>
                        </li>
                    </ul>
                </h3>
                <p class="text-lg"><i>November 2024</i> @ WBS CODING SCHOOL</p>
            </header>

            <main class="flex flex-col gap-6">
                <p class="text-xl">
                    I participated and <u><strong>won</strong></u> the Battle of the Bootcamps 2024 Hackathon with my team from WBS CODING SCHOOL
                    and Stack Fuel, where we participated for the theme: Innovative apps for Greener Offices. In 48 grueling hours we created
                    a working prototype web application and convinced the jury from DocMorris and Delivery Hero that our entry was the best!
                </p>
                <p class="text-xl">Out of our team I was chosen to win the incredible opportunity for an internship at DocMorris!</p>

                <List headline="Highlights">
                    <li>Creating and designing a fully responsive web application using React.js and Tailwind CSS</li>
                    <li>Python & FastAPI for the backend REST-API</li>
                    <li>Training and implementing a working AI Bot for the Website based on the theme</li>
                </List>
            </main>

            <footer class="flex flex-col gap-6">
                <InlineList title="Skills:">
                    <li>React.js</li>
                    <li>Vite</li>
                    <li>Tailwind CSS</li>
                    <li>FastAPI</li>
                    <li>PostgreSQL</li>
                    <li>Microsoft Copilot</li>
                </InlineList>

                <Button href="https://eu.badgr.com/public/assertions/0rdsMjr6RgWslYYpdRR-mQ" text="→ Credential" />
            </footer>
        </SubSection>

        <SubSection>
            <header>
                <h3>
                    <ul class="flex flex-row gap-2 text-white font-semibold text-2xl">
                        <li class="bg-blue-950 p-2">Cer</li>
                        <li class="bg-blue-950 p-2">
                            <span class="text-yellow-300">Foundational C# with Microsoft</span>
                        </li>
                    </ul>
                </h3>
                <p class="text-lg"><i>February 2024</i> @ freeCodeCamp</p>
            </header>

            <footer>
                <Button href="https://www.freecodecamp.org/certification/Pathing/foundational-c-sharp-with-microsoft" text="→ Credential" />
            </footer>
        </SubSection>
    </Section>
</main>
