---
import Section from '@components/shared/Section.astro';
import type { Skill } from '@schemas/Resume';

export type Props = { skills: Skill[]; sortedBy?: 'level' };
const { skills, sortedBy } = Astro.props as Props;

function compareLevel(a: Skill, b: Skill) {
    const asNumber = {
        beginner: 4,
        intermediate: 3,
        advanced: 2,
        expert: 1
    };

    return asNumber[a.level] - asNumber[b.level];
}

const normalisedSkills = sortedBy === 'level' ? [...skills].sort(compareLevel) : skills;
---

<Section headline="My Skills">
    <p>
        {
            normalisedSkills.map(({ name, level }) => (
                <>
                    <span class={level}>{name}</span>,
                </>
            ))
        }
    </p>
</Section>

<style>
    @import 'tailwindcss';

    .expert {
        @apply cursor-pointer text-4xl font-bold duration-300 hover:text-blue-900;
    }

    .advanced {
        @apply cursor-pointer text-3xl font-semibold duration-300 hover:text-blue-900;
    }

    .intermediate {
        @apply cursor-pointer text-2xl font-medium duration-300 hover:text-blue-900;
    }

    .beginner {
        @apply cursor-pointer text-xl font-normal duration-300 hover:text-blue-900;
    }
</style>
